@model IEnumerable<ecare.Models.Hospital>
@{
    ViewBag.Title = "HospitalHistory";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<h4>HospitalHistory</h4>
<hr />
<p>
    @using (Html.BeginForm("HospitalHistory", "HospitalMaster", FormMethod.Get))
    {
        <input type="text" name="search" />
        <input type="submit" value="Search" name="submit" />
    }
</p>

<div class="table-responsive ta">

    <table id="myTable" class="table table-bordered table-sm table-hover">
        <tr class="bg-custom text-white thead-light">
            <th>
                @Html.DisplayNameFor(model => model.HospitalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HospitalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HospitalAddress)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.HospitalPhone)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.HospitalLogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HospitalEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ActionType)
<th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HospitalId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HospitalName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HospitalAddress)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.HospitalPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HospitalLogo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HospitalEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ActionType)
        </td>


    </tr>
        }

    </table>

</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>








