@model ecare.Models.Appointment
@{
    ViewBag.Title = "GetHospitalList";
    Layout = "~/Views/Shared/_PatientLayoutPage.cshtml";
    if (Session["Email"] != null)
    {
        ViewBag.id = @Session["Id"].ToString();
        ViewBag.EntryBy = @Session["Email"].ToString();
    }
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {


        $("#EntryBy").hide();
        $("#HospitalId").hide();
        $("#eb").hide();
        $("#hi").hide();


    });
</script>

<div class="maindiv">
    <form class="form-horizontal" method="post" enctype="multipart/form-data" action="save">


        <fieldset>

            <!-- Text input-->
            <h1 style="text-align:center"><strong>Book Appointment</strong></h1><br />
            <!-- Text input-->
            <div class="form-group">
                <label class="control-label" for="HospitalId" style="font-style:oblique">Choose Hospital</label>
                <div class="col-md-10">
                    <div class="form-control" id="HospitalId">
                        @Html.DropDownList("HospitalId", "Choose Hospital")
                    </div>

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" style="font-style:oblique">Name</label>
                <div class="col-md-4">
                    <input id="Name" name="Name" placeholder="Name" class="form-control input-md" required="" type="text">

                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" style="font-style:oblique">AppointmentType</label>
                <div class="col-md-4">
                    <input id="AppointmentType" name="AppointmentType" placeholder="AppointmentType" class="form-control input-md" required="" type="text">

                </div>
            </div>

            <!-- Select Basic -->
            <!-- Text input-->
            <div class="form-group" id="div1">
                <label class="col-md-4 control-label" for="Age" style="font-style:oblique">Age</label>
                <div class="col-md-4">
                    <input id="Age" name="Age" placeholder="Enter Age" class="form-control input-md" type="text">


                </div>
            </div>


            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Phone" style="font-style:oblique">Phone</label>
                <div class="col-md-4">
                    <input type="tel" id="Phone" name="Phone" maxlength="10"
                           class="form-control" placeholder="91+"
                           required />

                </div>
            </div>
            <div class="form-group">
                <label>
                    Gender :
                </label>
                Male
                @Html.RadioButtonFor(model => model.Gender, "Male")
                Female
                @Html.RadioButtonFor(model => model.Gender, "Female")
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="Slot" style="font-style:oblique">Slot</label>
                <div class="col-md-4">
                    <input type="time" id="Slot" name="Slot" placeholder="Slot" class="form-control input-md">

                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Address" style="font-style:oblique">Address</label>
                <div class="col-md-4">
                    <textarea class="form-control" id="Address" name="Address" rows="4" cols="50"></textarea>
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Date" style="font-style:oblique">Date</label>
                <div class="col-md-4">
                    <input type="date" name="Date" id="Date" value="" data-type="date" placeholder="Enter Date" class=" form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="Problem" style="font-style:oblique">Problem</label>
                <div class="col-md-4">
                    <textarea class="form-control" id="Problem" name="Problem" rows="4" cols="50"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label id="eb" class="col-md-4 control-label" for="EntryBy" style="font-style:oblique">EntryBy</label>

                <div class="col-md-4">
                    @Html.TextBox("EntryBy", (string)ViewBag.EntryBy, new { @class = "form-control", @name = "EntryBy", @id = "EntryBy" })

                </div>
            </div>
            @*<div class="form-group">
            <label class="col-md-4 control-label" for="EntryBy" style="font-style:oblique">EntryDateTime</label>
            <div class="col-md-4">
                <input type="datetime" id="EntryDateTime" name="EntryDateTime"
                       class="form-control"
                       required />
            </div>
        </div>*@

            <!-- File Button -->
            @*<div class="form-group">
            <label class="col-md-4 control-label" for="filebutton">UPLOAD IMAGES</label>
            <div class="col-md-4">
                <input id="filebutton" name="filebutton" class="input-file" type="file">
            </div>
        </div>*@
            <!-- File Button -->
            @*<div class="form-group">
            <label class="col-md-4 control-label" for="filebutton">AUXILARY IMAGES</label>
            <div class="col-md-4">
                <input id="filebutton" name="filebutton" class="input-file" type="file">
            </div>
        </div>*@

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                    <input type="submit" class="btn btn-primary" value="Create" onclick="save()">
                </div>
            </div>

        </fieldset>
    </form>


</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

@if (ViewBag.SuccessMessage != null)
{
    <script type="text/javascript">
        $(function () {

            swal("Great!", "Appointment Successfully added", "success");
        });
    </script>
}
else if (ViewBag.ErrorMessage != null)
{

    <script type="text/javascript">
        $(function () {

            swal("Error", "Sorry, There is problem saving data", "error");
        });
    </script>
}
