@model ecare.Models.Patient

@{
    ViewBag.Title = "AddUsers";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
    if (Session["Email"] != null)
    {
        ViewBag.id = @Session["Id"].ToString();
        ViewBag.EntryBy = @Session["Email"].ToString();
    }
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#EntryBy").hide();
        });
    </script>
<h4>Add Users</h4>
<hr />
@using (Html.BeginForm("AddUsers", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-vertical">
  
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" id="EntryBy">
        <label id="EntryBy">Entry By </label>
        <div class="col-md-3">
            @Html.TextBox("EntryBy", (string)ViewBag.EntryBy, new { @class = "form-control", @name = "EntryBy", @Id = "EntryBy" })

        </div>
    </div>




    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add User" class="btn btn-custom" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Users","Admin")
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

@if (ViewBag.SuccessMessage != null)
{
    <script type="text/javascript">
        $(function () {

            swal("Great!", "User Successfully added", "success");
        });</script>
}
else if (ViewBag.ErrorMessage != null)
{

    <script type="text/javascript">
        $(function () {

            swal("Error", "Sorry, There is problem saving data", "error");
        });</script>
}